{{> header}}
<div data-role="page" id="login-view" view="login">
	<h2>Login</h2>
	<form id="login-form">
		<ul>
			<li><input type="email" id="email" placeholder="email" /></li>
			<li><input type="password" id="password" placeholder="password" /></li>
			<li><input type="submit" id="submit" /></li>
		</ul>
	</form>
</div>